.Consumables .description {
  margin-bottom: 20px;
}

.Consumables .description > p {
  margin: 0;
  line-height: 1.5;
}

.Consumables .button-container .btn {
  margin: 16px 0 8px 0;
}

.Consumables div.topbar {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 120px;
  grid-template-rows: 1fr;
  padding: 6px 12px ;
}

.Consumables .card-body {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 120px;
  grid-template-rows: 1fr;
  grid-template-areas: "name status . btn";
  padding: 12px;
}

.Consumables .card-text {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.Consumables .list-container {
  background-color: #ECEFF1;
  grid-gap: 10px 10px;
  padding: 10px;
  border-radius: 8px;
}

.Consumables .card {
  margin-bottom: 8px;
  border-radius: 4px;
  border: none;
}

.Consumables .search-container .search {
  width: 100%;
  padding: 12px 0px 12px 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: none;
}

.Consumables div .card-body .card-title {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.Consumables .card-body .btn{
  grid-area: btn;
}